<div id='comments_<%= dom_id(task_comments) %>'>

	<%# if less than 5 comments, just show them all %>
	<% comment_count = task_comments.comments.count %>
	<% if comment_count < 5 %>

	<div class="task-detail" id="show_comments_<%= dom_id(task_comments) %>">
		<i class="Comments"></i> <%= link_to_function "Comments" do |page|
				page["#{ dom_id(task_comments) }_comment_link"].show
				page["#{ dom_id(task_comments) }_comments"].hide
      end
    %>
	</div>

  <%= render :partial => 'tasks/comment', :collection => task_comments.comments, 
		:locals => { :show => true } -%>

	<%# if more 5 just show the last 3 %>
	<% else %>

		<div class="task-detail" id="show_comments_<%= dom_id(task_comments) %>">
			<i class="Comments"></i>
	    <%= link_to_function "#{comment_count - 3} more Comments" do |page|
	        page.select("div#comments_#{ dom_id(task_comments) }>div.comment").each do |value|
	          value.show
	        end
					page["show_comments_#{ dom_id(task_comments) }"].hide
	      end
	    %>
		</div>

		<% cntr = 0 %>
		<% task_comments.comments.each do |c| %>
			<%= render :partial => 'tasks/comment', :object => c, 
				:locals =>  { :show => (comment_count - cntr <= 3 ? true : false)  } -%>
			<% cntr += 1 %>
		<% end %>

	<% end %>	
</div>
<div class="task-detail" id="<%= dom_id(task_comments) -%>_comment_form">
<%# http://apidock.com/rails/ActionView/Helpers/PrototypeHelper/remote_form_for -%>
<% remote_form_for @comment, 
  :url => comment_collaboration_task_path(task_comments.collaboration_id, task_comments.id), 
	:loading => "show_comment_spinner('#{dom_id(task_comments)}')",
	:complete => "hide_comment_spinner('#{dom_id(task_comments)}')",
  :html => {:class => 'cf', :id=> "#{dom_id(task_comments)}_form"} do |f| %>
  <%= f.error_messages %>
	<div id="<%= dom_id(task_comments) -%>_comment_spinner" class="spinner" style="display: none;">
		<img src="/images/ajax-bar-loader.gif" alt="" />
	</div>
  <%= f.text_field :comment, 
		:class => 'cf', 
		:id => "#{ dom_id(task_comments) }_comment_field",
    :placeholder => 'Add your comments here', 
		:maxlength => "255" %>
<% end %>
</div>
