<div id='comments_<%= dom_id(task_comments) %>' class='cc'>

	<%# if less than 5 comments, just show them all %>
	<% comment_count = task_comments.comments.count %>
	<% if comment_count < 5 %>

	  <%= render :partial => 'tasks/comment', :collection => task_comments.comments, 
			:locals => { :show => true } -%>

	<%# if more 5 just show the last 3 %>
	<% else %>

		<div class="comment" id="show_comments_<%= dom_id(task_comments) %>">
	    <%= link_to_function "#{comment_count - 3} more comments&hellip;" do |page|
	        page.select("div#comments_#{ dom_id(task_comments) }>div.comment").each do |value|
	          value.show
	        end
					page["show_comments_#{ dom_id(task_comments) }"].hide
	      end
	    %>
		</div>

		<% cntr = 0 %>
		<% task_comments.comments.each do |c| %>
			<%= render :partial => 'tasks/comment', :object => c, 
				:locals =>  { :show => (comment_count - cntr <= 3 ? true : false)  } -%>
			<% cntr += 1 %>
		<% end %>

	<% end %>
	
</div>
<% remote_form_for @comment, 
  :url => comment_collaboration_task_path(task_comments.collaboration_id, task_comments.id), 
  :html => {:class => 'cf', :id=> "#{dom_id(task_comments)}_form"} do |f| %>
  <%= f.error_messages %>
  <%= f.text_field :comment, :class => 'cf', 
    :placeholder => 'Add your comments here', :maxlength => "255" %>
<% end %>  
