<div id="<%= dom_id(task) %>" class="<%= task.status %>">
	<div class="task-left">
		<%= render :partial => 'tasks/task_avatars', :object=> task %>
	</div>
	<div class="task-menubar">
		<%= link_to %Q{<i class="ArrowRight" title="Open"></i>}, collaboration_task_path(
			:collaboration_id => task.collaboration_id,
			:id => task.id
			)
		%>
	</div>
	<div class="task-right">
	  <span id="fav_<%= dom_id(task) %>" class="fav">
	    <%= render 'tasks/task_favourite', :object => task -%>
	  </span>
	  <%= link_to_function %Q{<i class="tt #{task.task_type}" title="#{task.task_type}"></i>} do |page|
				page["#{dom_id(task)}_ttm"].toggle
			end			
		%>
		<%= render :partial => "tasks/task_type", :locals => { :task => task } %>
	
	  <% stat = task.status -%>
	  <% res = case stat
	      when "Resolved", "Rejected", "Closed" then ":#{task.resolution}" else ""
	      end -%>
	  <i class="ts <%= stat %>" title="<%= stat + res %>"></i>  
	</div>
	<div class="task-content">
	  <div class="task-header">
	    <ul class="tam assignment">
	      <li class="noaction"><%=h task.collaboration.subject %> &raquo; </li>
	      <%= menu_for_topics(task.collaboration, task) %>
	    </ul>
	    <ul class="tam">      
	      <% task.valid_states_by_user(@current_user).each do |status| %>
	        <%= menu_for_status(task, status) %>
	      <% end %>
	    </ul>
	  </div>
		<%# http://www.paulwelty.com/ruby-on-rails/ruby-on-rails-using-a-different-controller-with-in_place_editor_field/ %>
		<%# http://weeatbricks.com/2007/09/01/in_place_editor_field-method-in-ruby-on-rails/ %>	
		<div class="task-title">
		<% @task = task %>
		<%= in_place_editor_field "task", "title", 
			{ :id => "task_title_#{@task.id}", :cancel_text => 'cancel', :save_text => 'ok', :size => 200 }, 
			{ :url => set_task_title_collaboration_task_path(
				:collaboration_id => task.collaboration_id,
				:id => task.id
			  ) } %>
		</div>

		<%
			has_desc = ! task.description.nil? && task.description.length > 0
			dcls = has_desc && task.comments.size == 0 ? "active" : ""
			ccls = ! has_desc || task.comments.size > 0 ? "active" : "" 
		-%>

	  <div class="task-footer">
			<ul class="task-details-actions">
				<li id="<%= dom_id(task) -%>_description_tab" class="<%= dcls -%>">
					<i class="Description <%= ! task.description.nil? && task.description.length > 0 ? 'hascontent' : '' %>"></i>
					<%= link_to_function "Description", {
							:id => "#{ dom_id(task) }_description_link", :class=> "tab-show-link"
						} do |page|
							page.select("##{ dom_id(task) } .task-details.tab.active").each do |tab| 
								tab.removeClassName("active")
							end
							page["#{ dom_id(task) }_description"].addClassName("active")

							page.select("##{ dom_id(task) } .task-details-actions>li.active").each do |tab| 
								tab.removeClassName("active")
							end
							page["#{ dom_id(task) }_description_tab"].addClassName("active")
			      end
			    	%>
				</li>
				<li id="<%= dom_id(task) -%>_comments_tab" class="<%= ccls -%>">
					<i class="Comments <%= task.comments.length > 0 ? 'hascontent' : '' %>"></i>
					<%= link_to_function "#{ task.comments.length } Comments", {
						:id => "#{ dom_id(task) }_comments_link", :class=> "tab-show-link"
					} do |page|
						page.select("##{ dom_id(task) } .task-details.tab.active").each do |tab| 
							tab.removeClassName("active")
						end
						page["#{ dom_id(task) }_comments"].addClassName("active")

						page.select("##{ dom_id(task) } .task-details-actions>li.active").each do |tab| 
							tab.removeClassName("active")
						end
						page["#{ dom_id(task) }_comments_tab"].addClassName("active")
		      end
	    		%>
				</li>
				<li id="<%= dom_id(task) -%>_watchers_tab">
					<% cls = task.favourite_users.empty? ? "" : "Watched" %>
					<i class="Watchers <%= cls %>"></i>
					<%= link_to_function "#{ task.favourite_users.length } Watching", {
						:id => "#{ dom_id(task) }_watchers_link", :class=> "tab-show-link"
					} do |page|
						page.select("##{ dom_id(task) } .task-details.tab.active").each do |tab| 
							tab.removeClassName("active")
						end
						page["#{ dom_id(task) }_watchers"].addClassName("active")

						page.select("##{ dom_id(task) } .task-details-actions>li.active").each do |tab| 
							tab.removeClassName("active")
						end
						page["#{ dom_id(task) }_watchers_tab"].addClassName("active")
		      end
			    %>
				</li>
				<li id="<%= dom_id(task) -%>_activity_tab">
					<i class="Activity"></i>
					<%= link_to_function "Activity", {
						:id => "#{ dom_id(task) }_activity_link", :class=> "tab-show-link"
					} do |page|
						page.select("##{ dom_id(task) } .task-details.tab.active").each do |tab| 
							tab.removeClassName("active")
						end
						page["#{ dom_id(task) }_activities"].addClassName("active")

						page.select("##{ dom_id(task) } .task-details-actions>li.active").each do |tab| 
							tab.removeClassName("active")
						end
						page["#{ dom_id(task) }_activity_tab"].addClassName("active")
		      end
		    	%>
				</li>
			</ul>
			
			<div class="task-details tab <%= dcls -%>" id="<%= dom_id(task) %>_description">
				<div class="task-detail">
					<a href="#" id="edit_task_description_<%= dom_id(task) %>">Edit Description</a>
				</div>
				<div class="task-detail">
					<% @task = task -%>
					<%# http://www.w3schools.com/CSS/pr_text_white-space.asp -%>
					<span	class="in_place_edit_container"><%= 
						in_place_editor_field "task", "description", 
						{ :id => "task_description_#{@task.id}" }, 
						{ :url => set_task_description_collaboration_task_path(
							:collaboration_id => task.collaboration_id,
							:id => task.id
					  		),
						:rows => 3, :cols => 50, :cancel_text => 'cancel', :save_text => 'ok', 
						:external_control => "edit_task_description_#{ dom_id(task) }",
						:options => {:highlight_color => "='#ffffff'" }} -%>
					</span>
				</div>
	   	</div>

		<div class="task-details tab  <%= ccls -%>" id="<%= dom_id(task) %>_comments">
		  <%= render :partial => 'tasks/task_comments', :object => task %>
		</div>
		
		<div class="task-details tab" id="<%= dom_id(task) %>_watchers">
			<% if task.favourites.size == 0 %>
			<div class="task-detail">
				No-one is watching this task yet
			</div>
			<% else %>
		  <%= render :partial => 'tasks/task_watcher', :collection => task.favourite_users %>
			<% end %>
		</div>

		<div class="task-details tab" id="<%= dom_id(task) %>_activities">
     	<%= render :partial => 'activities/activity', :collection => task.activities,
 				:locals => { :idsfx => '', :show_acts => true} %>
		</div>
	</div>
</div>
  