<h4><%= breadcrumb  %> Edit Topic</h4>
<hr />

<% form_for [@collaboration, @topic], :html => { :class => "tabulated" } do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :controller %>
    <%= f.select :controller, @user_list %>
  </div>
  <div>
    <%= f.label "" %>
    <%= f.submit 'Update' %>
		<%= link_to 'Close', session[:return_to] || :back %>
  </div>
<% end %>
