<%= render 'shared/collaboration_header' %>

<h4>Editing Topic</h4>
<hr />

<% form_for [@collaboration, @topic] do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :controller %>
    <%= f.select :controller, @user_list %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', collaboration_topic_path(
      :collaboration_id => @collaboration.id,
      :id => @topic.id
  ) %> |
<%= link_to 'Close', session[:return_to] || :back %>
