<h4><%= breadcrumb  %> Edit</h4>
<hr />

<% form_for [@collaboration, @topic] do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :controller %>
    <%= f.select :controller, @user_list %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Cancel', session[:return_to] || :back %>
