<h4><%= breadcrumb %> &raquo; Manage Topics</h4>
<hr />

<table class="acl">
  <tr>
    <th>Topic Name</th>
    <th>Mediator</th>
    <th>Actions</th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= link_to h(topic.name), collaboration_topic_path(
          :collaboration_id => topic.collaboration_id,
          :id => topic.id
      ) %></td>
    <td>
			<%= profile_link_to topic.user.full_name,
				CollaborationUser.find_by_user_id_and_collaboration_id(topic.controller, topic.collaboration_id) -%></td>
		<td>
			<%= link_to 'Show Tasks', collaboration_topic_path(
	          :collaboration_id => topic.collaboration_id,
	          :id => topic.id
	      ) %>
    <% unless topic.is_system %>
			&bull;
	    <%= link_to 'Edit Topic', edit_collaboration_topic_path(
	          :collaboration_id => topic.collaboration_id,
	          :id => topic.id
	      ) %>
		<% else %>
			&nbsp;
    <% end %>
    </td>

  </tr>
<% end %>
</table>

<br />

<%= button_to 'New topic', new_collaboration_topic_path , :method => :get %><%= link_to 'Close', session[:return_to] || :back %>
