<h4><%= breadcrumb %> &raquo; Topics</h4>
<hr />

<table width="100%%">
  <tr>
    <th>Name</th>
    <th>Controller</th>
    <th></th>    
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= link_to topic.name, collaboration_topic_path(
          :collaboration_id => topic.collaboration_id,
          :id => topic.id
      ) %></td>
    <td><span class="user-name"><%= titled_text(topic.user.full_name,
      topic.user.email) %></span></td>

    <% unless topic.is_system %>
    <td><%= link_to 'Edit', edit_collaboration_topic_path(
          :collaboration_id => topic.collaboration_id,
          :id => topic.id
      ) %></td>
    <% end %>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New topic', new_collaboration_topic_path %>