<%= render 'shared/collaboration_header' %>

<h1>New topic</h1>

<% form_for [@collaboration, @topic] do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :controller %>
    <%= f.select :controller, @user_list %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', collaboration_topics_path %>