<h4><%= breadcrumb %> Tasks</h4>
<hr />
<% remote_form_for [@collaboration, @task], :html => {:class => 'qtf'} do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag 'task[topic_id]', @topic.id %>
  <%= hidden_field_tag 'task[assigned_to]', @current_user.id %>
  <%= f.text_field :title, :class => 'qtt' %>
  <%= f.submit 'Task Here', :class => 'qtb' %>
<% end %>
<hr />

<div id="task-container">
  <% if @topic.tasks.empty? %>  
  
    <div id="task-empty-message" class="empty-message">
      No tasks match this selection &bull;
      
      <%= link_to 'New task', new_collaboration_task_path(
        :collaboration_id => @collaboration.id,
        :topic_id => @topic.id
      ) %>
    
    </div>
  
  <% else %>
    <div id="task-empty-message"></div>
    <%= render(:partial => 'shared/task_container', :collection => @topic.tasks )%>
  <% end %>
</div>

<%= button_to 'New task', new_collaboration_task_path(
    :collaboration_id => @collaboration.id,
    :topic_id => @topic.id), 
    :method => 'get' %>
