<div class="profile" id="<%= dom_id(collaboration_user) %>">

  <%= avatar_for(collaboration_user.user) %>

  <ul class="profile">
    <li>
      <%= titled_text(collaboration_user.user.full_name,
           collaboration_user.user.email) %>
			&lt;<%= collaboration_user.user.email %>&gt;
    </li>
    <li>
      Account Status: <%=h collaboration_user.user.status %>
    </li>
    <li>
      Taskforcc Role: <%=h collaboration_user.role %>
    </li>
    <% if show_actions %>
    <li>
      <%= link_to 'Show Tasks', collaboration_collaboration_user_path(
        :collaboration_id => collaboration_user.collaboration_id,
        :id => collaboration_user.id
      ) %>
<% unless @collaboration.is_system %>
 &bull;
      <%= link_to 'Change Role', edit_collaboration_collaboration_user_path(
        :collaboration_id => collaboration_user.collaboration_id,
        :id => collaboration_user.id
      ) %> &bull;
      <%= link_to 'Remove from Collaboration', collaboration_collaboration_user_path(
        :collaboration_id => collaboration_user.collaboration_id,
        :id => collaboration_user.id
      ),
      :confirm => "Really remove #{collaboration_user.user.full_name} from this Collaboration?", :method => :delete %>
    </li>    
    <% end %>
  </ul>
<% end %>
</div>
