<h4><%= breadcrumb %> &raquo; Update</h4>
<hr />

<% form_for [@collaboration, @collaboration_user], :html => { :class => "tabulated" } do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :role %>
    <%= f.select :role, %w{Manager Team Observer Restricted} %>
  </div>
  <div>
    <%= f.label "" %>
    <%= f.submit 'Update' %>
		<%= link_to 'Show', collaboration_collaboration_user_path(
		      :collaboration_id => @collaboration_user.collaboration_id,
		      :id => @collaboration_user.id
		    ) %> |
		<%= link_to 'Back', collaboration_collaboration_users_path(
		      :collaboration_id => @collaboration_user.collaboration_id
		    ) %>
	</div>
<% end %>
