<h1>Editing Collaboration User</h1>

<% form_for([@collaboration, @collaboration_user]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :collaboration_id %>
    <%=h @collaboration_user.collaboration.subject %>
  </p>
  <p>
    <%= f.label :user_id %>
    <%= titled_text(@collaboration_user.user.full_name,
     @collaboration_user.user.email) %>
  </p>
  <p>
    <%= f.label :manager %>
    <%= f.check_box :manager %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', collaboration_collaboration_user_path(
      :collaboration_id => @collaboration_user.collaboration_id,
      :id => @collaboration_user.id
    ) %> |
<%= link_to 'Back', collaboration_collaboration_users_path(
      :collaboration_id => @collaboration_user.collaboration_id
    ) %>