<%= render 'shared/collaboration_header' %>

<h1>Listing Users for <%=h @collaboration.subject %></h1>

<table>
  <tr>
    <th>User</th>
    <th>Role</th>
  </tr>

<% @collaboration_users.each do |collaboration_user| %>
  <tr>
    <td><%= titled_text( collaboration_user.user.full_name,
       collaboration_user.user.email)
      %></td>
    <td><%=h collaboration_user.role %></td>
    <td><%= link_to 'Show', collaboration_users_path %></td>
    <td><%= link_to 'Edit', edit_collaborations_user_path(collaboration_user) %></td>
    <td><%= link_to 'Destroy', collaboration_users, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Invite Someone', new_collaboration_user_path %>