<%= render 'shared/collaboration_header' %>

<h1>Invite User to Collaborate</h1>

<% form_for [@collaboration, @collaboration_user] do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :collaboration_id %>
    <%=h @collaboration.subject %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :role %>
    <%= f.select :role, %w{Manager Team Observer Restricted} %>
  </p>
  <p>
    <%= f.submit 'Invite' %>
  </p>
<% end %>

<%= link_to 'Cancel', :back %>