<h4><%= breadcrumb %> &raquo; Invite</h4>
<hr />

<% form_for [@collaboration, @collaboration_user], :html => { :class => "tabulated" } do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :role %>
    <%= f.select :role, %w{Manager Team Observer Restricted} %>
  </div>
  <div>
    <%= f.label "" %>
    <%= f.submit 'Invite' %>
		<%= link_to 'Cancel', :back %>
  </div>
<% end %>

<hr>
<%= render :partial => "role_access"%>

