<h1>Invite User to Collaborate</h1>

<% form_for [@collaboration, @collaboration_user] do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :collaboration_id %><br />
    <%=h @collaboration.subject %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :manager %><br />
    <%= f.check_box :manager %>
  </p>
  <p>
    <%= f.submit 'Invite' %>
  </p>
<% end %>

<%= link_to 'Cancel', :back %>