<p>
  <b>Collaboration:</b>
  <%=h @collaboration_user.collaboration_id %>
</p>

<p>
  <b>User:</b>
  <%=h @collaboration_user.user_id %>
</p>

<p>
  <b>Manager:</b>
  <%=h @collaboration_user.manager %>
</p>

<%= link_to 'Edit', edit_collaboration_collaboration_user_path(
      :collaboration_id => @collaboration_user.collaboration_id,
      :id => @collaboration_user.id
    ) %> |
<%= link_to 'Back', collaboration_collaboration_users_path(
      :collaboration_id => @collaboration_user.collaboration_id
    ) %>