<h4><%= breadcrumb %> Assigned Tasks</h4>
<%= render :partial => 'shared/multifunction_tabs' %>

<div id="resultset">
	<%= render :partial => 'shared/resultset_spinner' %>

  <% if @collaboration_user.find_tasks_assigned_to(params).empty? %>
  
    <div class="empty-message" id="task-empty-message">
      No tasks match this selection
    </div>
  <% else %>
    <div id="task-empty-message"></div>
    <%= render(:partial => 'tasks/result', 
      :collection => @collaboration_user.find_tasks_assigned_to(params) )%>
  <% end%>
</div>

<% if ! @collaboration.nil?  && @current_user.can_create_task?(@task) -%>
	<%= button_to 'New task', new_collaboration_task_path(
	    :collaboration_id => @collaboration.id,
	    :assigned_to => @collaboration_user.user_id),
	    :method => 'get' %>
<% end -%>
