<h4>Profile &raquo; Update Avatar</h4>
<hr>
<p>Your profile image is displayed by <%= link_to "Gravatar", "http://www.gravatar.com/" %> - "Your Globally Recognised Avatar".</p>
<br>
<p>To set your profile image, <strong><%= link_to "configure your profile at Gravatar", "http://www.gravatar.com/" %></strong> using the same email address you used to register for taskfor.cc (<%=h @current_user.email %>).</p>
<br>
<%= link_to "Gravatar Website", "http://www.gravatar.com/" %> |
<%= link_to 'Cancel', @current_user %>
