<h4>Change Password</h4>
<hr>

<% form_for @user, :url => setpass_user_path(@user), :html => { :class => "tabulated" }  do |f| %>
	<%= f.error_messages %>
  <div>
    <%= f.label :new_password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :confirm_password %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.label "" %>
    <%= f.submit 'Update', :class=> "signup" %>
		<%= link_to 'Cancel', @user %>
  </div>
<% end %>