<% form_for @user, :url => setpass_user_path(@user)  do |f| %>
<table class="signup">
  <thead>
    <tr>
      <th colspan="2">Change Password</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2">
        <%= f.error_messages %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :new_password %>
      </td>
      <td>
        <%= f.password_field :password %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :confirm_password %>
      </td>
      <td>
        <%= f.password_field :password_confirmation %>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        <%= f.submit 'Update', :class=> "signup" %>
      </td>
    </tr>
  </tbody>
</table>

<% end %>

<%= link_to 'Cancel', @user %>