<fieldset>
<legend>Edit User</legend>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </p>
  <p>
    <%= f.label :job_title %>
    <%= f.text_field :job_title %>
  </p>
  <p>
    <%= f.label :organisation %>
    <%= f.text_field :organisation %>
  </p>
  <p>
    <%= f.label :country %>
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

</fieldset>

<%= link_to 'Cancel', @user %>
