<h4>Profile &raquo; Update Details</h4>
<hr>

<% form_for(@user, :html => { :class => "tabulated" }) do |f| %>
	<%= f.error_messages %>
	<div>
	  <%= f.label :full_name %>
	  <%= f.text_field :full_name %>
	</div>
	<div>
	  <%= f.label :job_title %>
	  <%= f.text_field :job_title %>
	</div>
	<div>
	  <%= f.label :organisation %>
	  <%= f.text_field :organisation %>
	</div>
	<div>
	</div>
	<div>
	  <%= f.label :country %>
	  <%= f.text_field :country %>
	</div>
	<div>
	</div>
	<div>
	  <%= f.label :phone_number %>
	  <%= f.text_field :phone_number %>
	</div>
	<div>
	  <%= f.label "" %>
	  <%= f.submit 'Update', :class=> "signup" %>
		<%= link_to 'Cancel', @user %>
	</div>
<% end %>

