<fieldset>
<legend>Edit User</legend>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

</fieldset>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>