<h4>Profile for <%=h @user.full_name %></h4>
<hr>

<%= render 'users/user_detailed_profile', :object => @user %>

<%= link_to 'Edit Profile', edit_user_path(@user) %> &bull;
<%= link_to 'Change Password', chgpass_user_path(@user) %> &bull;
<%= link_to 'Change Image', avatar_user_path(@user) %>