<h2>Log in</h2>
<h4>Get straight to work!</h4>

<% form_tag url_for(:controller => 'access', :action => 'login'), :method => :post, 
	:class => "tabulated access" do %>
  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div>
    <%= label_tag "" %>
    <%= submit_tag "Login", :class => "signup" %>
  </div>
  <div class="form_footer">
    <%= label_tag "" %>
    <%= link_to "Forgotten your password?", url_for(:controller => 'access', 
			:action => 'recover') %>
  </div>
<% end %>