<div class="signup_title">Sign Up</div>
<div class="signup_subtitle">Why not make your job a little easier?</div>

<% form_for @user, :url => url_for(:action => :dosignup) do |f| %>
<table class="signup">
  <tbody>
    <tr>
      <td colspan="2">
        <%= f.error_messages %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :email %>
      </td>
      <td>
        <%= f.text_field :email %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :email_confirmation %>
      </td>
      <td>
        <%= f.text_field :email_confirmation %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :full_name %>
      </td>
      <td>
        <%= f.text_field :full_name %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :job_title %>
      </td>
      <td>
        <%= f.text_field :job_title %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :organisation %>
      </td>
      <td>
        <%= f.text_field :organisation %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :country %>
      </td>
      <td>
        <%= f.text_field :country %>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        <%= f.submit 'Sign Up', :class=> "signup" %>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
      </td>
      <td>
        We will send you a confirmation email including your login credentials.
      </td>
    </tr>
  </tfoot>
</table>
<% end %>


