<h2>Sign Up</h2>
<h4>and make your job a little easier</h4>

<% form_for @user, :url => url_for(:action => :dosignup), :html => { :class => "tabulated access"} do |f| %>
	<%= f.error_messages %>
	<div>
	  <%= f.label :email %>
	  <%= f.text_field :email %>
	</div>
	<div>
	  <%= f.label :email_confirmation %>
	  <%= f.text_field :email_confirmation %>
	</div>
	<div>
	  <%= f.label :full_name %>
	  <%= f.text_field :full_name %>
	</div>
	<div>
	  <%= f.label :job_title %>
	  <%= f.text_field :job_title %>
	</div>
	<div>
	  <%= f.label :organisation %>
	  <%= f.text_field :organisation %>
	</div>
	<div>
	  <%= f.label :country %>
	  <%= f.text_field :country %>
	</div>
	<div>
	  <%= f.label "" %>
	  <%= f.submit 'Sign Up', :class=> "signup" %>
	</div>
	<div class="form_footer">
	  We will send you a confirmation email including your login credentials.
	</div>
<% end %>
