
  <% if (params[:controller].eql?("collaborations") && params[:id]) || 
    params[:controller].eql?("collaboration_users") || 
    params[:controller].eql?("topics")
    %> 
      
    <b>Topics:</b>
      <ul>
        <%= render (:partial => 'shared/topic_li', :collection => @collaboration.topics ) %>
        <li><em><%= link_to 'New Topic', new_collaboration_topic_path(@collaboration) %></em></li>
      </ul>
  
    <div width='100%' align='right'>
      <br />
    </div>
    <hr />  
    <b>Team (<%= @collaboration.collaboration_users.count %>):</b>

    <ul>
      <%= render (:partial => 'shared/team_member', :collection => @collaboration.collaboration_users ) %>
      <li><em><%= link_to 'Invite Someone' %></em></li>
    </ul>
    
    
    <hr />
    <b>Upcoming Milestones:</b>
  
    <div width='100%' align='right'>
      <%= link_to 'New Milestone &gt; ' %>
      <br />
    </div>
  
    <hr />
    <b>Upcoming Reviews:</b>  
  
    <div width='100%' align='right'>
      <%= link_to 'New Review &gt; ' %>
      <br />
    </div>

  <% end %>
