  <tr>
    <td><%= titled_text(collaboration_user.user.full_name,
     collaboration_user.user.email) %></td>
    <td><%=h collaboration_user.user.email %></td>
    <td><%=h collaboration_user.role %></td>
    <td><%= link_to 'Show', collaboration_collaboration_user_path(
      :collaboration_id => collaboration_user.collaboration_id,
      :id => collaboration_user.id
    ) %> &bull;
    <%= link_to 'Edit', edit_collaboration_collaboration_user_path(
      :collaboration_id => collaboration_user.collaboration_id,
      :id => collaboration_user.id
    ) %> &bull;
    <%= link_to 'Remove', collaboration_collaboration_user_path(
      :collaboration_id => collaboration_user.collaboration_id,
      :id => collaboration_user.id
    ),
    :confirm => 'Really remove from this Taskforcc?', :method => :delete %></td>
  </tr>
