<%# TODO: refactor the javascript into a separate function %>

<% active_tab = "taskhere" %>

<ul id="mf-tab-list" class="mf-tab">
  <% unless @collaboration.nil?  || ! @current_user.can_create_task?(@task) -%>
  <li class="mf-tab  <%= "active" if active_tab.eql?("taskhere") -%>" 
	id="taskhere-tab"><%= link_to_function 'Task Here' do |page|
      page.select('div.mf-tab.body').each do |value|
        value.hide()
      end
      page.select('li.mf-tab.active').each do |value|
        value.removeClassName('active')
      end

      page['taskhere'].show()
      page['taskhere-tab'].addClassName('active');
    end
    %></li>
  <li class="mf-tab" id="details-tab"><%= link_to_function 'Collaboration Details' do |page|
      page.select('div.mf-tab.body').each do |value|
        value.hide()
      end
      page.select('li.mf-tab.active').each do |value|
        value.removeClassName('active')
      end

      page['details'].show()
      page['details-tab'].addClassName('active');
    end
    %></li>
  <% end -%>
  <% if controller_name.eql?('topics') && @topic -%>
  <li class="mf-tab" id="topic-tab"><%= link_to_function 'Topic Details' do |page|
      page.select('div.mf-tab.body').each do |value|
        value.hide()
      end
      page.select('li.mf-tab.active').each do |value|
        value.removeClassName('active')
      end

      page['topic'].show()
      page['topic-tab'].addClassName('active');
    end
    %></li>
  <% end -%>
  <% if controller_name.eql?('collaboration_users') && @collaboration_user -%>
  <li class="mf-tab" id="user-tab"><%= link_to_function 'User Details' do |page|
      page.select('div.mf-tab.body').each do |value|
        value.hide()
      end
      page.select('li.mf-tab.active').each do |value|
        value.removeClassName('active')
      end

      page['user'].show()
      page['user-tab'].addClassName('active');
    end
    %></li>
  <% end -%>
</ul>
<div id="mf-tab-container">
  <% unless @collaboration.nil? || ! @current_user.can_create_task?(@task) -%>
  <div id="taskhere" class='mf-tab body' style="<%= "display:none;" if active_tab.eql?("search") -%>">
    <% remote_form_for [@collaboration, @task], 
      :html => {:class => 'qtf', :id=>'task_here_form'} do |f| %>
      <%= f.error_messages %>
      <%= hidden_field_tag 'task[topic_id]', @task.topic_id %>
      <%= hidden_field_tag 'task[assigned_to]', @task.assigned_to %>
      <%= f.text_field :title, :class => 'qtt' %>
      <%= f.submit 'Task Here', :class => 'qtb' %>
    <% end %>
  </div>
  <div id="details" style="display:none;" class='mf-tab body'>
    <b>Subject:</b> <%= @collaboration.subject -%><br />
    <b>Status:</b> <%= @collaboration.status -%><br />
    <%# http://api.rubyonrails.org/classes/ActionView/Helpers/TextHelper.html#method-i-simple_format -%>
    <b>Description:</b> <%= simple_format @collaboration.description -%>
    <br />
    <% unless @collaboration.is_system %>
      <%= link_to 'Edit', edit_collaboration_path(@collaboration) -%>
    <% end %>
  </div>    
  <% end -%>
  
  <% if controller_name.eql?('topics') && @topic -%>
  <div id="topic" style="display:none;" class='mf-tab body'>
    <b>Name:</b> <%= @topic.name %>    
    <br />
    <b>Controller:</b> <%= @topic.user.full_name %>    
    <br />
    <% unless @topic.is_system %>
      <%= link_to 'Edit', edit_collaboration_topic_path(@collaboration, @topic) -%>
    <% end %>
  </div>    
  <% end -%>

  <% if controller_name.eql?('collaboration_users') && @collaboration_user -%>
  <div id="user" style="display:none;" class='mf-tab body'>
    <%= render(:partial => 'collaboration_users/collaboration_user', 
      :object => @collaboration_user,
      :locals => { :show_actions => false } )%>
  </div>    
  <% end -%>

</div>
<ul id="mf-tab-list" class="mf-tab">
  <%# http://railsapi.com/doc/rails-v3.0.0/classes/ActionView/Helpers/PrototypeHelper/JavaScriptGenerator/GeneratorMethods.html -%>
  <li class="mf-tab" id="showhide-tab">
    <%= link_to_function 'Task Details' do |page|
        page.select('div.task-footer').each do |value|
          value.toggle
        end     
      end
    %>
  </li>
</ul>