<%# TODO: refactor the javascript into a separate function %>
<ul id="mf-tab-list" class="mf-tab">
  <li class="mf-tab <%= "active" unless session[:active_tab].eql?("taskhere") -%>" 
	id="search-tab"><%= link_to_function 'Search Here' do |page|
      page.select('div.mf-tab.body').each do |value|
        value.hide()
      end
      page.select('li.mf-tab.active').each do |value|
        value.removeClassName('active')
      end

      page['search'].show()
      page['search-tab'].addClassName('active');
    end
    %></li>
  <% unless @collaboration.nil? -%>
  <li class="mf-tab  <%= "active" if session[:active_tab].eql?("taskhere") -%>" 
	id="taskhere-tab"><%= link_to_function 'Task Here' do |page|
      page.select('div.mf-tab.body').each do |value|
        value.hide()
      end
      page.select('li.mf-tab.active').each do |value|
        value.removeClassName('active')
      end

      page['taskhere'].show()
      page['taskhere-tab'].addClassName('active');
    end
    %></li>
  <li class="mf-tab" id="details-tab"><%= link_to_function 'Taskforcc Details' do |page|
      page.select('div.mf-tab.body').each do |value|
        value.hide()
      end
      page.select('li.mf-tab.active').each do |value|
        value.removeClassName('active')
      end

      page['details'].show()
      page['details-tab'].addClassName('active');
    end
    %></li>
  <% end -%>
  <% unless @topic.nil? -%>
  <li class="mf-tab" id="topic-tab"><%= link_to_function 'Topic Details' do |page|
      page.select('div.mf-tab.body').each do |value|
        value.hide()
      end
      page.select('li.mf-tab.active').each do |value|
        value.removeClassName('active')
      end

      page['topic'].show()
      page['topic-tab'].addClassName('active');
    end
    %></li>
  <% end -%>
  <% unless @collaboration_user.nil? -%>
  <li class="mf-tab" id="user-tab"><%= link_to_function 'User Details' do |page|
      page.select('div.mf-tab.body').each do |value|
        value.hide()
      end
      page.select('li.mf-tab.active').each do |value|
        value.removeClassName('active')
      end

      page['user'].show()
      page['user-tab'].addClassName('active');
    end
    %></li>
  <% end -%>
</ul>
<div id="mf-tab-container">
  <div id="search" class='mf-tab body' style="<%= "display:none;" if session[:active_tab].eql?("taskhere") -%>">
    <%# http://api.rubyonrails.org/classes/ActionView/Helpers/FormTagHelper.htm %>
    <% form_tag request.path, :method => 'get', 
      :class => 'qtf', :id=>'search_form' do %>
      <%= text_field_tag :title, params[:title], :class => 'qtt' %>
      <%= submit_tag 'Search Here', :class => 'qtb' %>
			<div class="qtf options">
			<%= check_box_tag :include_closed, :included_closed, params[:include_closed] %>
			<%= label_tag :include_closed, "Include Closed Tasks" %>
			</div>
    <% end -%>
  </div>
  <% unless @collaboration.nil? -%>
  <div id="taskhere" class='mf-tab body' style="<%= "display:none;" unless session[:active_tab].eql?("taskhere") -%>">
    <% remote_form_for [@collaboration, @task], 
      :html => {:class => 'qtf', :id=>'task_here_form'} do |f| %>
      <%= f.error_messages %>

      <% if @topic.nil? -%>
        <%= hidden_field_tag 'task[topic_id]', @collaboration.unfiled_topic.id %>
      <% else -%>
        <%= hidden_field_tag 'task[topic_id]', @topic.id %>
      <% end -%>

      <% if @collaboration_user.nil? -%>
        <%= hidden_field_tag 'task[assigned_to]', @current_user.id %>
      <% else -%>
        <%= hidden_field_tag 'task[assigned_to]', @collaboration_user.user_id %>
      <% end -%>

      <%= f.text_field :title, :class => 'qtt' %>
      <%= f.submit 'Task Here', :class => 'qtb' %>
    <% end %>
  </div>
  <div id="details" style="display:none;" class='mf-tab body'>
    <b>Subject:</b> <%= @collaboration.subject -%><br />
    <b>Status:</b> <%= @collaboration.status -%><br />
    <%# http://api.rubyonrails.org/classes/ActionView/Helpers/TextHelper.html#method-i-simple_format -%>
    <b>Description:</b> <%= simple_format @collaboration.description -%>
    <br />
    <% unless @collaboration.is_system %>
      <%= link_to 'Edit', edit_collaboration_path(@collaboration) -%>
    <% end %>
  </div>    
  <% end -%>
  
  <% unless @topic.nil? -%>
  <div id="topic" style="display:none;" class='mf-tab body'>
    <b>Controller:</b> <%= @topic.user.full_name %>    
    <br />
    <% unless @topic.is_system %>
      <%= link_to 'Edit', edit_collaboration_topic_path(@collaboration, @topic) -%>
    <% end %>
  </div>    
  <% end -%>

  <% unless @collaboration_user.nil? -%>
  <div id="user" style="display:none;" class='mf-tab body'>
    <%= render(:partial => 'shared/collaboration_user', 
      :object => @collaboration_user,
      :locals => { :show_actions => false } )%>
  </div>    
  <% end -%>

</div>
<ul id="mf-tab-list" class="mf-tab">
  <%# http://railsapi.com/doc/rails-v3.0.0/classes/ActionView/Helpers/PrototypeHelper/JavaScriptGenerator/GeneratorMethods.html -%>
  <li class="mf-tab" id="showhide-tab">
    <%= link_to_function 'Task Details' do |page|
        page.select('div.task-footer').each do |value|
          value.toggle
        end     
      end
    %>
  </li>
</ul>