
    <% unless params[:controller].eql?("collaborations") && 
      ( params[:action].eql?("index") || params[:action].eql?("new") || params[:action].eql?("create")) %>
      <ul class='tab nav'>
        <li class='tab <%= "selected" if params[:controller].eql?("collaborations") %>'>
            <%= link_to 'Details', collaboration_path(@collaboration) %></li>
        <li class='tab <%= "selected" if params[:controller].eql?("tasks") %>'>
          <%= link_to 'Tasks', collaboration_tasks_path(@collaboration) %></li>
        <li class='tab <%= "selected" if params[:controller].eql?("collaboration_users") %>'>
          <%= link_to 'Team', collaboration_collaboration_users_path(@collaboration)  %></li>
        <li class='tab'>
          Topics</li>
        <li class='tab'>
          Iterations</li>
        <li class='tab'>
          Reviews</li>
      </ul>
    <% end %>    
