<tr class="<%= cycle("even", "odd") %>">
  <td><%= task.id %></td>
  <td><%= task.title %></td>
  <td><%= task.type %></td>
  <td><%= task.status %></td>
  <td>
    <%= titled_text(task.user_created_by.full_name,
      task.user_created_by.email) %>
  </td>
  <td>
    <%= titled_text(task.user_assigned_to.full_name,
      task.user_assigned_to.email) %>
  </td>

  <td><%= link_to 'Show', collaboration_task_path(
      :collaboration_id => task.collaboration_id,
      :id => task.id
  ) %></td>
  <td><%= link_to 'Edit', edit_collaboration_task_path(
      :collaboration_id => task.collaboration_id,
      :id => task.id
  ) %></td>
  <td><%= link_to 'Destroy', collaboration_task_path(
      :collaboration_id => task.collaboration_id,
      :id => task.id
  ), :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
