<div id='comments_<%= dom_id(task_comments) %>'>
  <%= render :partial => 'shared/comment', :collection => task_comments.comments %>
</div>
<% remote_form_for @comment, 
  :url => comment_collaboration_task_path(@collaboration.id, task_comments.id), 
  :html => {:class => 'cf'} do |f| %>
  <%= f.error_messages %>
  <%= f.text_field :comment, :class => 'cf' %>
  <%= f.submit 'Comment', :class => 'cf' %>
<% end %>  
