<div class="task" id="<%=dom_id(task)%>">

  <div class="task-left">
    <img title="Task" class="task-icon" src="/images/TaskIcon.gif" />    
  </div>

  <div class="task-right">
    <img title="Responsible" class="avatar" 
      src="/images/Anonymous.jpeg" /> 
    <br />
  </div>
  
  <div class="task-content">
    <div class="task-header">
      <%= inverse_breadcrumb :collaboration => task.collaboration, 
        :topic => task.topic,
        :user => task.user_assigned_to %>      

      <span class="user-name"><%= titled_text(task.user_assigned_to.full_name,
        task.user_assigned_to.email) %></span>
      <span class="task-actions"> &bull; <a>Reassign</a></span>    
    </div>  

    <b><%= link_to task.title , collaboration_task_path(
        :collaboration_id => task.collaboration_id,
        :id => task.id
    ) %></b> 

    <span class="task-updates">
      <nobr><%= time_ago_in_words task.updated_at %> ago by <span class="user-name"><%= titled_text(task.user_created_by.full_name,
      task.user_created_by.email) %></span></nobr>.
    </span>
    
    <span class="task-actions">
      <nobr>
        &bull;
        <%= link_to 'Edit', edit_collaboration_task_path(
            :collaboration_id => task.collaboration_id,
            :id => task.id
        ) %>
       &bull; Watch &bull; Comment   
      </nobr>
    </span>

    <br />

    <div class="task-footer"></div>
    
  </div>
  
</div>
  