<ul id="mf-tab-list" class="mf-tab">
  <%# http://railsapi.com/doc/rails-v3.0.0/classes/ActionView/Helpers/PrototypeHelper/JavaScriptGenerator/GeneratorMethods.html -%>

	<li class="mf-tab <%= session[:news_view].eql?('top') ? 'active' : '' %>">
		<%= link_to 'Top News', url_for( :controller=> 'news', :action => "top" ), :title => "Top News" %>
	</li>
	<li class="mf-tab <%= session[:news_view].eql?('recent') ? 'active' : '' %>">
		<%= link_to 'Recent Activity', url_for( :controller=> 'news', :action => "recent" ), :title => "Recent Activity" %>
	</li>

  <li class="mf-tab" id="showhide-tab" style="float: right;">
    <%= link_to_function 'Show/Hide Details' do |page|
        page.select('div.task-footer').each do |value|
          value.toggle
        end
				page.select('li.result>div.activity-details').each do |value|
					value.toggle
				end
      end
    %>
  </li>
</ul>