<div class="task-left">
  <%= avatar_for(task.user_assigned_to) %>
</div>
<div class="task-right">
  <span id="fav_<%= dom_id(task) %>" class="fav">
    <%= render 'shared/task_favourite', :object => task %>
  </span>
  <br />
  <i class="tt <%= task.type %>" title="<%= task.type %>"></i>
  <br />
  <% stat = task.status %>
  <% res = case stat
      when "Resolved", "Rejected", "Closed" then ":#{task.resolution}" else ""
      end %>
  <i class="ts <%= stat %>" title="<%= stat + res %>"></i>  
</div>
<div class="task-content">
  <div class="task-header">
    <ul class="tam">      
      <% task.valid_states_by_user(@current_user).each do |status| %>
        <%= menu_for_status(task, status) %>
      <% end %>
    </ul>
    <ul class="tam assignment">
      <li class="noaction"><%= task.collaboration.subject %> &raquo; </li>
      <%= menu_for_topics(task.collaboration, task) %>
      <%= menu_for_assignment(@current_user, task) %>
    </ul>
  </div>
  <b><%= link_to task.title , collaboration_task_path(
      :collaboration_id => task.collaboration_id,
      :id => task.id
  ) %></b>  
  <span class="tta">
    Updated <%= time_ago_in_words task.updated_at %> ago by <span class="user-name"><%= titled_text(task.user_created_by.full_name,
    task.user_created_by.email) %></span></span>  
  <br />

  <div class="task-footer" style="display:visible;">
      <ul class="tam footer">
        <li><i class="Description"></i><%= link_to_function "Description" do |page|
            page["#{dom_id(task)}_description"].show
            page["#{dom_id(task)}_comments"].hide
          end %></li>
        <li><i class="Comments"></i><%= link_to_function "Comments" do |page|
            page["#{dom_id(task)}_description"].hide
            page["#{dom_id(task)}_comments"].show
          end %></li>
        <li><i class="Attachments"></i>Attachments</li>
      </ul>

    <% dst = "display:none;" unless task.comments.empty? %>
    <div class="task-details" id="<%= dom_id(task) %>_description" style="<%= dst %>">
      <%= task.description %>
    </div>

    <% cst = "display:none;" if task.comments.empty? %>
    <div class="task-details" id="<%= dom_id(task) %>_comments" style="<%= cst %>">
      <%= render :partial => 'shared/task_comments', :object => task %>
    </div>
  </div>  
</div>
  