<div class="task-left">
  <img title="Task" class="task-icon" src="/images/clipboard.png" />    
</div>
<div class="task-right">
  <img title="Responsible" class="avatar" 
    src="/images/Anonymous.jpeg" /> 
  <br />
</div>
<div class="task-content">
  <div class="task-header">
    <ul class="tam">
      <% task.valid_states_by_user(@current_user).each do |status| %>
        <%= menu_for_status(task, status) %>
      <% end %>
    </ul>
    <%= inverse_breadcrumb :collaboration => task.collaboration, 
      :topic => task.topic,
      :user => task.user_assigned_to %>
    <span class="user-name"><%= titled_text(task.user_assigned_to.full_name,
      task.user_assigned_to.email) %></span>
  </div>
  [<%= task.status %>::<%= task.resolution %>]
  <b><%= link_to task.title , collaboration_task_path(
      :collaboration_id => task.collaboration_id,
      :id => task.id
  ) %></b>  
  <span id="fav_<%= dom_id(task) %>">
  <%= render 'shared/task_favourite', :object => task %>
  </span>
  <br />    
  <span class="tta">
    <%= time_ago_in_words task.updated_at %> ago by <span class="user-name"><%= titled_text(task.user_created_by.full_name,
    task.user_created_by.email) %></span></span>  
  <br />

  <div class="task-footer">
    <ul class="tam">
      <li>Description</li>
      <li>Comments</li>
      <li>Attachments</li>
    </ul>
    <div class="task-details">      
      <%= render :partial => 'shared/task_comments', :object => task %>
    </div>
  </div>  
</div>
  