  <tr>
    <td><%= link_to collaboration.subject, collaboration %></td>
    <td><%=h collaboration.status %></td>
    <td title="<%= collaboration.user_created_by.email %>">
      <%= collaboration.user_created_by.full_name %>
    </td>
		<td>
			<%= link_to "Show Tasks", collaboration %>
	    <% unless collaboration.is_system %>
				&bull;
		    <%= link_to "Edit Taskforcc", edit_collaboration_path(collaboration) %>
	    <% end %>
		</td>
  </tr>
