  <tr>
    <td><%= link_to collaboration.subject, collaboration_news_index_path(collaboration) %></td>
    <td><%=h collaboration.status %></td>
    <td title="<%= collaboration.user_created_by.email %>">
      <%= collaboration.user_created_by.full_name %>
    </td>
		<td>
	    <% unless collaboration.is_system %>
		    <%= link_to "Edit Collaboration", edit_collaboration_path(collaboration) %>
	    <% end %>
		</td>
  </tr>
