<h1>Editing collaboration</h1>

<% form_for(@collaboration) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :status %>
    <%= f.select :status, %w{ Open On-Hold Closed } %>
  </p>
  <p>
    <%= f.label :created_by %>
    <%=h @collaboration.user_created_by.full_name %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @collaboration %> |
<%= link_to 'Destroy', @collaboration, :confirm => 'Are you sure?', :method => :delete %>
<%= link_to 'Back', collaborations_path %>