<h4><%= breadcrumb %> &raquo; Edit</h4>
<hr />

<% form_for @collaboration, :html=> {:class=>"tabulated"} do |f| %>
  <%= f.error_messages %>
  <div>
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>
  <div>
    <%= f.label :status %>
    <%= f.select :status, %w{ Open On-Hold Closed } %>
  </div>
  <div>
    <%= f.label :created_by %>
    <%=h @collaboration.user_created_by.full_name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  	<%= f.label "" %>
    <%= f.submit 'Update' %>
		<%= link_to 'Close', @collaboration %>
  </div>
<% end %>

