<h4><%= breadcrumb %> &raquo; New Taskforcc</h4>
<hr />

<% form_for(@collaboration, :html => { :class=>"tabulated"} ) do |f| %>
  <div>
    <%= f.error_messages %>
  </div>
  <div>
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label "" %>
    <%= f.submit 'Create' %>
		<%= link_to 'Cancel', :back %>
  </div>
<% end %>

