<h1>Collaboration Details</h1>

<p>
  <b>Subject:</b>
  <%=h @collaboration.subject %>
</p>


<p>
  <b>Status:</b>
  <%=h @collaboration.status %>
</p>

<p>
  <b>Created By</b>
  <span title="<%= @collaboration.user_created_by.email %>">
  <%=h @collaboration.user_created_by.full_name %>
  </span>
</p>

<p>
  <b>Description:</b>
  <%=h @collaboration.description %>
</p>

<%= link_to 'Edit', edit_collaboration_path(@collaboration) %> |
<%= link_to 'Back', collaborations_path %>

<hr/>
<h1>Collaboration users</h1>

<table>
  <tr>
    <th>Full name</th>
    <th>Email</th>
  </tr>

  <%= render(:partial => 'shared/user', :collection => @collaboration.users )%>

<%# link_to 'Add Users', user_collaboration_path(@collaboration) %>

</table>

<hr/>

<h1>Collaboration tasks</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Type</th>
    <th>Status</th>
    <th>Created By</th>
    <th>Assigned To</th>
  </tr>

  <%= render(:partial => 'shared/task', :collection => @collaboration.tasks )%>

</table>

<br />
