<div class="activity-details" id="<%= dom_id(activity) %>">
	<i class="Activity"></i> <%= activity.action %> by <%= profile_link_to activity.user_updated_by.full_name,
		CollaborationUser.find_by_user_id_and_collaboration_id(activity.updated_by, activity.collaboration_id) -%>
  <span class="ataw"><%= time_ago_in_words activity.updated_at -%> ago.</span>
	<% unless activity.acts.empty? %>
	<span class="showhide" id="<%= dom_id(activity) %>_show_acts">
	<%= link_to_function "Details" do |page|
			page["#{ dom_id(activity) }_show_acts"].hide
			page["#{ dom_id(activity) }_acts"].show
     end
   %></span>
	<% end %>
	<ul class='acts' style="display:none;" id="<%= dom_id(activity) %>_acts">
		<%= render :partial => 'activities/act', :collection => activity.acts %>
	</ul>
</div>