<li class='activity' id="<%= dom_id(activity) %>">
	<div class="activity-left"><%= mini_avatar_for(activity.user_updated_by) %></div>
	<div class="activity-content">
		<strong><%= activity.related_class %></strong> <%= activity.action %> 
		in <strong><%= activity.collaboration.subject %></strong>
		by <strong><%= activity.user_updated_by.full_name %></strong>
		<%= time_ago_in_words(activity.updated_at) %> ago
		<ul class='acts'>
		<%= render :partial => 'act', :collection => activity.acts %>
		</ul>
	</div>
</li>