<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Access: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'custom' %>

<meta name="description" content="taskfor.cc is a platform for removing some of the barriers to working efficiently with others." /> 

</head>
<body>

<div id="access_header">
  <a href="/" title="taskfor.cc start">
    <i class="biglogo"></i>
  </a>

  <% unless action_name == 'login' %>  
    <%= render :partial => 'login' %>
  <% end %>
  
</div>

<%= render :partial => 'signup_bar' %>

<div id="access_body">
  <div id="access_left">

    <%= render :partial => 'shared/dev_disclaimer.html.erb' %>

    <div class="signup_subtitle">taskfor.cc makes your team more productive.</div>
    
    <ul>
      <li><%= link_to 'About taskfor.cc', url_for(:controller => 'pages', :action => 'about') %></li>
      <li><%= link_to 'Contact', url_for(:controller => 'pages', :action => 'contact') %></li>
    </ul>
  </div>
  <div id="access_right">  
    <div id="notices">
      <p style="color: green"><%= notice %></p>
      <p style="color: green"><%= flash[:error] %></p>
    </div>

    <%= yield %>
  </div>  
</div>
<div class="clear"></div>

<div id="footer">
  <hr />
  <%=h (params[:controller] + ' / '+ params[:action])  %>
  <%=h params.to_yaml %>
</div>
  
</body>
</html>
