<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>taskfor.cc: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'custom' %>
</head>
<body>

<div id="header">
  <h1>task<em>for.cc</em></h1>
</div>

<div id="sidebar">

  <ul>
    <li>
      <%= link_to @current_user.full_name, @current_user %> |
      <%= link_to 'Logout', { :action => 'logout', :controller => 'access'}%>
    </li>
  </ul>

  <hr />

  <%= render 'shared/collaborations_sidebar' %>
  
  <hr />

  <div class="contextual-sidebar">
    
  </div>
</div>

<div id="content">


  <!--
  <div class="nav-tabs">
    <%# render(:partial => 'shared/nav_tabs' )%>  
  </div>
  -->

  <div id="notices">
    <p style="color: green"><%= notice %></p>
  </div>

  <%= yield %>
    
</div>

<div class="footer">

</div>

<hr />
<%=h (params[:controller] + ' / '+ params[:action])  %>
<%=h params.to_s %>
</body>
</html>
