<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>Access: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'custom' %>

<meta name="description" content="taskfor.cc is a platform for removing some of the barriers to working efficiently with others." /> 

</head>
<body>

<div id="access_header">
  <a href="/" title="taskfor.cc">
    <i class="biglogo"></i>
  </a>

  <% unless action_name == 'login' %>  
    <%= render :partial => 'access/login' %>
  <% end %>
  
</div>

<%= render :partial => 'access/signup_bar' %>

<div id="pages_body">

    <%= render :partial => 'shared/dev_disclaimer.html.erb' %>
    
    <%= yield %>
</div>
<div class="clear"></div>

<div id="footer">
  <hr />
</div>
  
</body>
</html>
